<footer class="page-footer font-small bg-danger pt-4">

    <div class="continer">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="rose">Siga nos</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" class="icoFacebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.intagram.com/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=pt_br" target="_blank" class="icoWhats">
                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="rose">&copy 2021 : Victor França</span>
    </div>

</footer>