#img-bg {
    background-image: url("https://s2.glbimg.com/6CwjKnvS_Y5-dHM022tKeGL8lKg=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2017/1/c/CTw2DtSDKQ8pqyLlXiNw/2013-hd-one-piece-wallpaper.jpg");
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    background-color: black;
}

.rose {
    color: rgba(227, 9, 247, 0.979)
}
