<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center"></div>
            <div class="col-md-10">
                <h2 class="text-center rose">Cadastro</h2>
                <div class="form-group">
                    <input class="form-control rose" type="text" name="nome" id="nome" placeholder="Nome">
                </div>
                <div class="form-group">
                    <input class="form-control rose" type="text" name="usuario" id="usuario" placeholder="Usuario">
                </div>
                <div class="form-group">
                    <input class="form-control rose" type="password" name="senha" id="senha" placeholder="Senha">
                </div>
                <div class="form-group">
                    <input class="form-control rose" type="password" name="confirmar senha" id="confirmar senha" placeholder="Confirme a Senha">
                </div>
                <div d-flex justify-content-center>
                    <button type="submit" class="btn btn-danger mr-2">Cancelar</button>
                    <button type="submit" class="btn btn-success ml-1">Cadastrar</button>
                </div>
            </div>

        </div>
    </div>

</div>
