.rose {
    color: rgba(227, 9, 247, 0.979);
}

.bg-black {
    background-color: black;
}

button:hover {
    color: rgb(0, 255, 106);
}

.bg-rose {
    background-color: rgba(227, 9, 247, 0.979);
}

button {
    background-color: rgba(227, 9, 247, 0.979);
}
