.rose {
    color: rgba(227, 9, 247, 0.979);
}

.bg-black {
    background-color: black;
}

button:hover {
    color: rgba(92, 9, 247, 0.979);
}

.bg-rose {
    background-color: rgba(227, 9, 247, 0.979);
}

.br {
    border-color: rgba(227, 9, 247, 0.979);
    border-style: solid;
}
